* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	margin: 0;
	height: 100%;
}

/*Navbar*/
.header {
	background-color: #f1f1f1;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

.navbar {
	display: flex;
	padding: 20px 0;
	justify-content: space-between;
}

.navbar a {
	color: #272142;
	text-decoration: none;
	transition: all 100ms ease-in-out;
}

.navbar a:hover {
	color: dodgerblue;
}

.navbar a.logo {
	font-weight: bold;
	float: right;
}

.navbar ul {
	padding: 0;
	margin: 0;
}

.navbar li {
	margin-left: 15px;
	display: inline;
	list-style: none;
	line-height: 42px;
}

@media screen and (max-width: 400px) {
	.navbar a {
		text-align: left;
		display: block;
		float: none;
	}
	.navbar a.logo {
		display: none;
	}
	.navbar li {
		line-height: 7px;
	}
}
/*Navbar Ended*/

/*Hero*/
.hero {
	background-image: url("https://i.postimg.cc/9fgrcT3z/low-poly-3d.jpg");
	padding: 80px 20px;
	text-align: center;
}

.hero p {
	font-size: 36px;
	font-weight: bold;
	padding-top: 23px;
	margin-bottom: 0;
	color: white;
}

.hero h1 {
	color: white;
	font-size: 72px;
}

.hero h2 {
	margin-bottom: 5px;
	font-size: 24px;
	font-weight: normal;
	color: white;
	line-height: 1.5;
}

@media screen and (max-width: 400px) {
	.hero {
		padding: 40px 10px;
	}
	.hero p {
		font-size: 18px;
	}
	.hero h1 {
		font-size: 36px;
	}
	.hero h2 {
		font-size: 12px;
	}
}
/*Hero Section Ended*/

/*About Me*/
.about-container {
	background-color: lightgrey;
}

.about-container h2 {
	text-align: center;
	padding: 15px 0;
}

.about-row:after {
	content: "";
	display: table;
	clear: both;
}

.about-column {
	float: left;
	width: 50%;
}

.image {
	padding: 32px;
	margin: 0 auto;
}

.about-content {
	padding-top: 32px;
	padding-right: 32px;
}

.about-content h3 {
	text-align: justify;
	font-weight: bold;
}

hr {
	width: 25%;
}

.about-content p {
	padding-top: 12px;
	text-align: justify;
	font-size: 17px;
	line-height: 1.5;
}

.about-content p a {
	color: dodgerblue;
	font-weight: bold;
}

.about-contact {
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
	font-size: 17px;
	font-weight: 600;
	line-height: 1.5;
}

.my-skills h3 {
	margin-top: 25px;
	padding: 15px 0;
}

.skills {
	display: flex;
	flex-wrap: wrap;
}

.skill {
	padding: 8px 16px;
	margin-bottom: 12px;
	margin-right: 12px;
	background-color: darkgrey;
	color: white;
	font-size: 17px;
	border-radius: 4px;
}

@media screen and (max-width: 1150px) {
	.about-img {
		text-align: center;
	}
	.image {
		margin: 0 auto;
	}
	.about-column {
		float: left;
		width: 100%;
	}
	.about-content {
		padding: 0 32px;
		margin: 0 auto;
	}
	.my-skills {
		margin: 0 auto;
		padding: 0 32px;
		text-align: center;
	}
}
/*About Me Section End*/
.main-content {
	margin: -6px 0;
	background-color: #f1f1f1;
}

.feature {
	margin: 5px;
	padding: 10px;
	text-align: center;
	font-size: 17px;
	font-weight: 600;
}

/*Main Content*/
.row {
	margin-bottom: 5px;
}

.column {
	width: 50%;
	float: left;
	padding: 75px 17px 17px 17px;
}

.col-img {
	text-align: center;
}

.project-description {
	padding: 90px 20px;
	background-color: white;
	height: 640px;
}

.project-description h2 {
	margin-bottom: 5px;
	text-align: center;
}

.project-description p {
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 50px;
	font-size: 16px;
	line-height: 30px;
}

.btn {
	text-align: center;
	margin-top: 4px 0 5px auto;
	display: block;
}

.btn-branding {
	background-color: dodgerblue;
	color: white;
	border-radius: 4px;
	padding: 15px 30px;
	text-decoration: none;
	font-size: 18px;
	line-height: 27px;
}

@media screen and (max-width: 1000px) {
	.col-img {
		width: 50%;
		margin: 0 auto;
		height: 550px;
	}
	.project-description {
		width: 100%;
		display: block;
		padding: 15px 20px;
		height: 550px;
	}
	.project-description p {
		margin: 10px 0;
		padding: 0 0 60px 0;
		font-size: 16px;
	}
}

@media screen and (max-width: 900px) {
	.column {
		padding: 30px 17px;
	}
	.col-img {
		width: 46%;
		height: 500px;
	}
	.project-description {
		width: 90%;
		height: 500px;
	}
	.project-description p {
		margin: 20px 0;
		padding: 0 0 30px 0;
		font-size: 14px;
		line-height: 25px;
	}
}

@media screen and (max-width: 770px) {
	.column {
		width: 100%;
	}
	.col-img {
		display: none;
	}
	.project-description {
		margin: 0 auto;
		padding: 50px 0 90px 0;
		height: 480px;
	}
	.project-description h2 {
		margin-bottom: 5px;
		text-align: center;
	}
	.project-description p {
		margin-top: 5px;
		margin-bottom: 0;
		padding: 23px 50px;
		font-size: 16px;
		line-height: 30px;
	}
}

/*Contact*/
.main-contact {
	background-color: lightgrey;
	padding: 50px 70px;
}

.main-contact h1 {
	text-align: center;
	font-size: 42px;
}

.main-contact p {
	text-align: center;
	padding: 20px;
	margin-bottom: 15px;
}

.contact-icons {
	margin-bottom: 60px;
}

.contact-icons i {
	font-size: 40px;
	color: white;
	margin: 32px;
	text-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.social-icons {
	display: flex;
	justify-content: center;
}